:root {
    --primary-1: #a2c7e5;
    --primary-2: #EFBC7D;
    --primary-3: #5c0029;
    --tone-1: #586f6b;
    --tone-2: #222725;
    --active-color: #2A1A60;
    --active-text: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
li {
    line-height: 1.4;
}

/* Navbar Section */

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 60px;
    background: #2A1A60;
    display: grid;
    grid-template-columns: 3fr 2.5fr;
    align-items: center;

}

#logo-container {
    width: 100%;
    /* background: blue; */
}

#logo-container img {
    padding: .25em .75em;
    min-width: 80px;
}


.nav-links {
    width: 100%;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 1em; */
    list-style: none;
}

.nav-links li {
    /* background: blue; */
    position: relative;
    /* width: 18%; */
    margin: .25em;
    padding: .5em .75em;
    text-align: center;
   
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: red; */
    /* width: 100%; */
    color: var(--primary-2);
    font-weight: 550;
    text-decoration: none;
    white-space: nowrap;
}

/* .nav-links li:hover {
    border-bottom: 2px solid var(--primary-2);
} */

.nav-links li::after {
    content: "";
    position: absolute;
    background: transparent;
    width: 0px;
    height: 0px;
}

.nav-links li:hover::after {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 2px;
    background: var(--primary-2)
}

/* Main Section */
.main-content {
    padding: 65px 1em 2em 1em;
}

.main-content section {
    margin: 40px 0;
    padding-top: 60px;
}

/* 
sponsorlist:

Chipotle - https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfu0-6AV9ixPB42FYDElCAxGWTNfyo83urTT85Ac8MRNHMEFZB8DMliaFd2m_Sdq0ZwshFEstllCB8GQ&usqp=CAU

Coffee BEan - https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrQIOcKvP29QI6DXyjVtuTbOeQ8x3C57Y5pU4UgTgg12nCGxkCzf1R1CxUDbD-LAFEQFhizrSdGsDp0Q&usqp=CAU

Target - 

99 - 

Bevmo - 

*/

#sponsors {
    /* background: red; */
    width: 85vw;
    position: relative;
    /* max-width: 1100px; */
    min-height: 200px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#sponsor-title {
    height: auto;
    font-size: 4em;
    color: #2A1A60;
    text-align: center;
    margin: 0 0 120px 0;
    border-bottom: 1.45px solid var(--primary-2);

}

#sponsor-list {
    /* background: lightblue; */
    /* padding: .5em 1em; */
    width: 85vw;
    height: auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    
    list-style: none;
}

#sponsor-list li {
    /* margin: 20px 0 0 0; */
    /* background: green; */
    /* position: relative; */
    width: 100%;
    margin-bottom: 25px;
    
    /* border: 1px solid var(--primary-3); */
}

#sponsor-list a::before {
    margin: 0 16px;
    font-size: 1.8em;
    display: block;
    text-align: center;
    
    font-weight: 800;
    background: rgba(42, 26, 96, 1);
    color: rgba(239, 188, 125, 1);
    /* border-bottom: 1px solid rgba(239, 188, 125, 1) */
}

.chipotle-hoverable::before {
    content: "Chipotle";
}
.coffee-hoverable::before {
    content: "Coffee Bean";
}
.target-hoverable::before {
    content: "Target";
}
.cent-hoverable::before {
    content: "99 Cent Store";
}
.bevmo-hoverable::before {
    content: "Bevmo";
}


#sponsor-list a {
    z-index: 3;
    width: fit-content;
    height: fit-content;
    background: green;
    text-decoration: none;
    /* border-bottom: 1px solid rgba(42, 26, 96, 1); */
}
#sponsor-list a:hover {
    
    /* color: rgba(42, 26, 96, 1); */
    background: rgba(239, 188, 125, 1);
    /* text-decoration: underline; */
}

#sponsor-description-text {
    margin: 1.5em 2em;
    font-size: 1.8em;
    line-height: 2;
    font-weight: 605;
    padding: 0 0.75em;
    /* text-shadow:0.5px 0.5px 0px rgba(42, 26, 96, 0.9);; */
    color: var(--active-text);
    
    background: rgba(239, 188, 125, .10);
    z-index: 2;
}

/* Individial Sponsors */
#chipotle {
    /* background: blue; */
    position: relative;
    display: flex;
    flex-direction: column;
}
.sponsor {
   
    position: relative;
    display: flex;
    flex-direction: column;
}

.sponsor-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: inset 0px 0px 5px 15px white;
    /* background: #2A1A60; */
    margin: 0 0 20px 0;
}

.sponsor-wrapper:hover {
    --active-text: rgba(42, 26, 96, 1);
    background: rgba(239, 188, 125, 1)


}

#chipotle img {
    width: 100%;
    z-index: -1;
    position: absolute;
    height:fit-content;
    opacity: 0.65;
}

#sponsor-list img {
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    opacity: 0.65;
}

/* MEDIA */
#media {
    max-width: 75vw;
    margin: 50px auto 0 auto;
}

#media h2 {
    padding: .5em 0;
    font-size: 2.4em;
    text-align: center;
    color: rgba(42, 26, 96, 1);
}

/* Footer */
footer {
    text-align: center;
}

footer div {
    margin: 65px 0 65px 0;
}

#contact-us {

    display: flex;
    flex-direction: column;
}

#contact-us-title {
    margin-bottom: 15px;
    font-size: 2em;
}

#contact-us-text {
    font-size: 1.2em;
    font-weight: 480;
    margin: .5em 0;
}

#buisness-inquiry-text {
    font-size: 1.2em;
    font-weight: 480;
    margin: .5em 0;

}
#contact-us a {
    color: #E92A34;
    text-decoration: none;
}

#find-us {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#find-us-title {
    margin-bottom: 15px;
    font-size: 2em;
}

#footer-links {
    display: flex;
    width: 85vw;
    margin: auto;
    /* background: green; */
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.link-group:hover {
    --active-color: rgba(239, 188, 125, 1);

    border-radius: 10px;
}

#footer-links svg {
    fill: var(--active-color);
    display: block;
    margin: auto;
    max-width: 60px;
    margin-bottom: 10px;
}

.footer-link {
    font-size: 1.4em;
    font-weight: 800;
    color: var(--active-color);
    text-decoration: none;
    /* border-bottom: 1px solid var(--primary-2); */
}

.footer-link:hover {
    /* text-shadow: 1px 0 1px lightcoral, 0 1px 1px lightskyblue; */
}